@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box   ;
    margin:0;
    padding:0;
    
}
body{
    font-family: "Poppins", sans-serif;
}
/* banner section design */
.banner-container{
    max-width:1320px;
    min-height:600px; 
    margin:0 auto; 
    margin-top: 40px;
    text-align:center;
    background-image:url("./asses/new\ year.png");
    background-position: center;
    background-size:cover;
    background-color:rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    margin-bottom:200px;
}
.banner-content{
    display:flex;
    flex-direction:column;
    height:600px;
    align-items:center; 
    justify-content:center;
    color:white;
}
.banner-content p{
    font-size:32px;
    font-weight:400px; 
}
.banner-content h1{
    font-size:53px;
    font-weight:600px;
}
/* 65% section start here */
.second-section-container{
    text-align:center;
    margin:0 auto;
     
    width:802px;
    height:803px;
    margin-top:90px;
    margin-bottom:90px;
   
}
.second-section-content{
    width:790px;
    height:700px;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    margin:0 auto;
     justify-content:center;
     align-items:center;
    padding:11px 3px; 
    
}
.second-section-content h1{
    font-size:60px;
    font-weight:bold;
    color:red;
     
}
.second-section-content p{
    font-size:30px;
    font-weight:bold;
    color:red;
    display:flex;
}
.second-section-content h2{
    font-size:30px;
    font-weight:bold;
    color:red;
     
}
.image-section{
    width:802px;
    height:703px;   
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;
     
        
}
.image-section img{
     width:100%;
      height:100%;
}
/* midnight section style */
.midnight-section-container{
    max-width:1320px;
    min-height:600px; 
     border-radius:5px;
    margin:0 auto;
    display:flex;
    background-image:url('./asses/k.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgba(0, 0, 0, 0.12);
    margin-bottom:90px;

}
/* section content left column */
.section-content-left{
    width:50%;
    height:600px;
     
}
.section-content-left{
    display:flex; 
    flex-direction:column;
    justify-content:center;
    align-items:right;
    padding-left:90px;
}
.section-content-left h2{
    color:white;
    font-size:50px;
    text-shadow: rgba( -0deg,209, 231, 8, 0.5);
}
.section-content-left p{
    color:white;
    font-size:20px;
    text-shadow: rgba( -0deg,209, 231, 8, 5px);
}


/* section content right column */
.section-content-right{
    width:50%;
    height:600px;
     background-image: url("./asses/2.jpg");
}
.section-content-right img{
    width:30px;
}
 /* button style */
 #join{
    font-size:40px;
    font-weight:bolder;
    color:white;
 }
